<!DOCTYPE html>
<html lang="it">

<head>
    <title>Lavoro sporco itwiki</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <style>
        html {
            height: 100%;
        }
        body {
            position: relative;
            margin: 0;
            padding-bottom: 4rem;
            min-height: 100%;
            padding-top: 50px;
        }
        .container {
            width: 95% !important;
        }
        text {
            font: 10px sans-serif;
        }
		.line {
            display: inline-block;
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
        .x.axis path {
            display: none;
        }
        .line {
            fill: none;
            stroke: url(#temperature-gradient);
            stroke-width: 1.5px;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1rem;
            font-size: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="js/d3.v3.js"></script>
    <script src="js/color.js"></script>
    <script src="js/fetchData.js"></script>

	<script>
	    $(document).ready(function () {
            $("#button1,#button2,#button3,#button4").live("click", function () {
			    button1 = document.getElementById("button1");
				button2 = document.getElementById("button2");
				button3 = document.getElementById("button3");
				button4 = document.getElementById("button4");
			    if($(button1).hasClass("btn btn-default btn-sm active")){
				    $(button1).removeClass("btn btn-default btn-sm active");
	                $(button1).addClass("btn btn-default btn-sm");  
                    $(this).removeClass("btn btn-default btn-sm");
                    $(this).addClass("btn btn-default btn-sm active");
                    return;					
				}
				if($(button2).hasClass("btn btn-default btn-sm active")){
				    $(button2).removeClass("btn btn-default btn-sm active");
	                $(button2).addClass("btn btn-default btn-sm");  
                    $(this).removeClass("btn btn-default btn-sm");
                    $(this).addClass("btn btn-default btn-sm active");
                    return;					
				}
				if($(button3).hasClass("btn btn-default btn-sm active")){
				    $(button3).removeClass("btn btn-default btn-sm active");
	                $(button3).addClass("btn btn-default btn-sm");  
                    $(this).removeClass("btn btn-default btn-sm");
                    $(this).addClass("btn btn-default btn-sm active");
                    return;					
				}
				if($(button4).hasClass("btn btn-default btn-sm active")){
				    $(button4).removeClass("btn btn-default btn-sm active");
	                $(button4).addClass("btn btn-default btn-sm");  
                    $(this).removeClass("btn btn-default btn-sm");
                    $(this).addClass("btn btn-default btn-sm active");
                    return;					
				}

            });
        });
	</script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://tools.wmflabs.org/maintgraph">MaintGraph</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="lavoro_sporco.html">Grafici lavoro sporco</a>
                    </li>
                </ul>
                <p class="navbar-text pull-right">
                    <a href="https://github.com/wikimedia/labs-tools-maintgraph" class="navbar-link">GitHub</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="mainTitle" class="line"><h3>Lavoro sporco su itwiki</h3></div>
		
        <div id="buttons" class="line" style="float:right; padding:12px">
            <button type="button" id="button1" class="btn btn-default btn-sm active" onclick="updateData(1)">Totale</button>&nbsp;
            <button type="button" id="button2" class="btn btn-default btn-sm" onclick="updateData(2)">Aggiunti</button>&nbsp;
            <button type="button" id="button3" class="btn btn-default btn-sm" onclick="updateData(3)">Rimossi</button>&nbsp;
            <button type="button" id="button4" class="btn btn-default btn-sm" onclick="updateData(4)">Variazione</button>
        </div>

        <div id="graph" class="graph" style="position:relative;width:100%;height:580px"></div>
        <script src="js/lavoro_sporco.js"></script>

        <h4>Istruzioni</h4>
        <p>Il piano di lavoro del grafico &egrave; unico e condiviso per tutti gli avvisi. Per visualizzare o rimuovere le linee cliccare sui rettangoli corrispondenti. La scala del grafico cambia automaticamente per soddisfare tutti i dati richiesti. Cliccare sul nome del lavoro sporco per visualizzare la relativa categoria su Wikipedia. Per guardare nel dettaglio un periodo temporale preciso utilizzare la barra sottostante l'asse delle ascisse. Sono disponibili ulteriori tre analisi sui dati, visualizzabili tramite i pulsanti in alto a destra. "Aggiunti" e "Rimossi" riportano rispettivamente le aggiunte e le rimozioni degli avvisi selezionati. "Variazione" mostra invece l'andamento del lavoro degli avvisi scelti, attraverso grafici che utilizzano come dati la differenza tra aggiunti e rimossi.</p>

        <h4>Dati</h4>
        <p>I dati sul lavoro sporco qui rappresentati vengono salvati quotidianamente, salvo errori o interruzioni del servizio, estraendoli dalla copia del database di Wikipedia disponibile sul Tool Labs. La raccolta ha avuto inizio il 10 maggio 2014; i valori precedenti a tale data non sono pertanto disponibili.</p>

        <h4>Download</h4>
        <p>Scarica i dati relativi a <em>Totale</em> in formato .csv <a href="../data/lavoro_sporco.csv"><img src="../img/csv.png"/></a></p>

        <p>Scarica i dati relativi a <em>Aggiunti</em>, <em>Rimossi</em> e <em>Variazione</em> in formato .csv <a href="../data/diff.csv"><img src="../img/csv.png"/></a></p>

        <br />

    </div>
    <footer>
        Except where otherwise noted, MaintGraph is distributed under the terms of the <a href="http://www.opensource.org/licenses/mit-license.html">MIT license</a>. Feel free to contact MaintGraph's maintainers for any question or suggestion at: maintgraph [dot] maintainers [at] tools [dot] wmflabs [dot] org
    </footer>
</body>

</html>
